
nav ul{
 display: inline
}
nav select {
 display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A52A2A;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #E9967A;
}

.active {
    background-color: #DC143C;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  background-color: #FFC0CB;
  padding: 100px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}


@media screen and (max-width: 480px) {
 nav {
 display: block; 
 }
}

@media (max-width: 960px) {
 nav ul { display: none; }
 nav select { display: inline-block; }
 }
}